@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Kiwi+Maru:wght@300&display=swap");
/* font-family: 'DynaPuff', cursive; 
font-family: 'Kiwi Maru', serif; */

.Tetris {
  position: relative;
}
.tetris {
  height: 120vh;
  width: 100%;
  background-color: rgb(56, 118, 120);
  color: rgb(8, 248, 176);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DynaPuff", cursive;
}
/* --------------GAME-------------- */
.game {
  font-family: "Kiwi Maru", serif;
  font-size: 1.3rem;
  height: 1000vh;
  width: 70%;
  color: white;
  background-color: transparent;
  /* border: rgb(0, 0, 0) solid 3px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.game p {
  font-family: "Kiwi Maru", serif;
  background-color: transparent;
  color: white;
  margin: 0;
}
/* --------------MENU-------------- */
.menu {
  background-color: transparent;
  font-family: "Kiwi Maru", serif;
}
.menu button {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: "DynaPuff", cursive;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: rgb(23, 212, 155);
  /* z-index: 100; */
}
.menu button:hover {
  background-color: rgba(255, 255, 255, 0.515);
}
/* --------------GAME-ON-------------- */
.game-on {
  background-color: transparent;
  font-family: "Kiwi Maru", serif;
}
/* --------------BOARD-------------- */
.board {
  background-color: rgba(0, 0, 0, 0.548);
  display: grid;
  width: 43vw;
  height: 86vh;
  border: 10px solid black;
  box-shadow: rgba(0, 0, 0, 0.485) 0px 5px 15px;
  border-radius: 10px;
}
/* --------------BOARD CELL-------------- */
.board-cell {
  width: auto;
  border-radius: 5px;
  position: relative;
  background-color: transparent;
}

/* --------------TETRIMINOS-------------- */
.tetromino {
  border: 3px solid rgb(0, 0, 0);
}
.tetromino .sparkle {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 6px;
  background-color: rgba(255, 255, 255, 0.543);
  border-radius: 3px;
}
.tetromino.ghost .sparkle {
  opacity: 0;
}
.tetromino__i {
  background-color: rgb(0, 204, 204);
}
.tetromino__j {
  background-color: rgb(0, 162, 255);
}
.tetromino__l {
  background-color: rgb(0, 255, 123);
}
.tetromino__o {
  background-color: rgba(0, 13, 94, 0.663);
}
.tetromino__s {
  background-color: greenyellow;
}
.tetromino__t {
  background-color: rgb(221, 255, 255);
}
.tetromino__z {
  background-color: rgb(240, 255, 192);
}
/* --------------GAME STATS-------------- */
.game-stats__left {
  right: 0;
  top: 22vh;
  text-align: left;
  background-color: transparent;
}
.game-stats__right {
  right: 0;
  bottom: 0;
  text-align: left;
  background-color: transparent;
}
.game-stats {
  background-color: transparent;
  position: absolute;
  width: 22vw;
  list-style-type: none;
  color: rgb(255, 255, 255);
}
.game-stats li {
  background-color: transparent;
  font-family: "DynaPuff", cursive;
}
.value {
  background-color: transparent;
  font-family: "Kiwi Maru", serif;
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: rgba(0, 255, 191, 0.869);
}
/* --------------PREVIEW-------------- */
.previews-cont {
  position: absolute;
  left: 75vw;
  top: 5rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.preview {
  background-color: transparent;
}
.preview-board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
  background-color: transparent;
}
