@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
/* font-family: 'Rock Salt', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");
/* font-family: "Josefin Slab", serif; */

@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
/* font-family: 'Unica One', cursive; */

/* 🌈-------------------🌈 COLORS🌈-------------------🌈 */
/* TEAL rgb(79, 117, 116) */
/* DARKER TEAL rgb(36,68,68) */
/* BRONZE rgb(138, 49, 16) */
/* TERRACOTTA rgb(173, 146, 129) */
/* LIGHT BLUE rgb(200, 251, 255) */
/* BROWN rgb(89, 40, 9) */

* {
  font-family: "Josefin Slab", serif;
}

#background-forest {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: none;
  height: 100vh;
  width: 100vw;
  filter: saturate(200%) brightness(47%) hue-rotate(20deg);
  z-index: -1;
}

/* HOME PAGE */
.Home {
  margin: 0 9rem 0 9rem;
}
.H-header {
  font-size: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  color: white;
}
#H-header-p {
  font-family: "Rock Salt", cursive;
  font-size: 3vw;
  color: rgb(200, 251, 255);
  background-color: transparent;
}
#H-about {
  text-align: left;
  font-size: 3vh;
  padding: 0 60rem 0 6rem;
  color: white;
  position: absolute;
  min-width: 20vw;
  line-height: 1.2;
  font-weight: bold;
  z-index: 1;
  text-shadow: 0 0 1rem #000000;
}
.H-lowerPg {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: transparent;
}
#H-logo-container {
  display: flex;
  justify-content: center;
  position: absolute center;
  z-index: 1000;
  background-color: transparent;
}
#H-logo {
  height: 40vw;
  width: 40vw;
  cursor: pointer;
  opacity: 0.45;
  background-color: transparent;
  filter: hue-rotate(-10deg);
}
#H-logo-invert {
  background-color: transparent;
  height: 40rem;
  width: 40rem;

  cursor: pointer;
  opacity: 0.7;
  filter: invert(1) hue-rotate(10deg);
}
.rotate {
  animation: rotation 20s infinite;
  z-index: 0;
  background-color: transparent;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.linear {
  animation-timing-function: linear;
}
.infinite {
  animation-iteration-count: infinite;
}

/* NAV BAR */
nav {
  /* border: 1px solid rgba(254, 91, 56, 255); */
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(240, 248, 255, 0.441);
  z-index: 10009999;
}
.nav-link {
  padding: 0 4rem 0 4rem;
  cursor: pointer;
  background: transparent;
  color: rgba(254, 91, 56, 255);
  font-family: "Unica One", cursive;
}
.nav-link:hover {
  color: rgb(155, 52, 0);
}

/* RESUME PAGE */
.resume-page {
  display: flex;
  justify-content: center;
}
.r-fixed {
  position: fixed;
  right: 5rem;
  background: transparent;
  display: flex;
  flex-direction: column;
}
#r-logo {
  background: transparent;
  height: 15rem;
  width: 15rem;
  animation: rotation 20s infinite;
}
.r-download {
  color: rgb(0, 17, 255);
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.185);
  padding: 12px;
  text-align: center;
  border-radius: 12px;
}
.r-download:hover {
  background-color: rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}
.resume {
  padding: 0.5rem 7rem 7rem 7rem;
  width: 60vw;
}
#r-job-title {
  font-size: 2rem;
  margin: auto;
  color: rgba(254, 91, 56, 255);
  font-family: "Unica One", cursive;
}
.r-download-icon {
  height: 1.3rem;
  filter: invert();
  padding-right: 0.5rem;
  background-color: transparent;
}
.r-top {
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
}
.r-name {
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
  margin: auto;
  color: rgb(0, 42, 255);
}
.r-link {
  margin: 0 0.5rem 0 0.5rem;
  font-family: "Unica One", cursive;
}
.r-link:hover {
  color: white;
}
.r-skills {
  background-color: transparent;
  font-family: inherit;
  color: rgb(0, 0, 123);
  font-weight: bold;
  font-size: 1.33rem;
  line-height: 1.3rem;
}
.r-header {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.495);
  border-radius: 10px;
  padding: 4px 0 4px 0;
}
.r-subheader {
  font-size: 1.3rem;
  background-color: transparent;
  font-weight: bold;
  color: rgb(0, 0, 123);
}
.r-linkedin-icon {
  height: 1.3rem;
  padding-right: 0.3rem;
}
.r-github-icon {
  height: 1.3rem;
  filter: invert(0);
  background-color: transparent;
}
.r-edu-local {
  background-color: transparent;
  margin: -0.4rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(0, 0, 123);
}
.r-text {
  color: rgb(0, 0, 123);
  font-weight: bold;
  font-size: 1.22rem;
  background-color: transparent;
}
.project-container {
  display: flex;
  flex-direction: column;
}
.project-title {
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}
.project-tech {
  font-weight: bold;
}
.project-p {
  font-size: 1.22rem;
}
/* PROJECTS PAGE */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects p {
  font-size: 1rem;
  background-color: transparent;
}
.project-btn {
  font-size: 3rem;
  font-family: "Unica One", cursive;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 2rem;
  color: white;
  width: 16rem;
  text-align: center;
  background-color: maroon;
}
.project-btn:hover {
  cursor: pointer;
  filter: hue-rotate(80deg);
}
